.info .title {
    font-size: 50px;
    line-height: 60px;
}

.info p:nth-child(2) {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    color: var(--white-200-color);
    line-height: 25px;
    margin-top: 20px;
}

.btn_banner {
    padding: 4px 16px;
}

.section_banner {
    display: flex;
    margin-top: 80px;
    margin-bottom: 55px;
    gap: 20px;

}

.section_banner :nth-child(1) {
    flex: 2;
}

.section_banner :nth-child(2) {
    flex: 1;

}

.container_banner {
    position: relative;
    min-height: 400px;
}

.banner_text {
    font-weight: 300;

    position: absolute;
    bottom: 15px;
    left: 25px;
    width: 90%;
    font-size: 24px;
    z-index: 3;

}

/* ##SECTION WITH SCROLL */

.section_nav_container_scroll {
    overflow-y: scroll;
}

.section_nav {
    display: flex;

}

.section_nav :nth-child(1) {
    flex: 2;


}

.section_nav :nth-child(2) {
    flex: 1;
}

.section_nav_container_scroll {
    max-height: 890px;
}

.section_nav_container_scroll> :not(:last-child) {
    margin-bottom: 30px;
}

/* ##SCROLL SECTION */
.section_nav_container_scroll::-webkit-scrollbar {
    width: 12px;
}

.section_nav_container_scroll::-webkit-scrollbar-track {
    background: var(--gray-200-color);

}

.section_nav_container_scroll::-webkit-scrollbar-thumb {
    background: var(--purple-light-color);
    max-height: 200px;

}

/* ##SIDEBAR CONTENT */
.section_nav_container_sidebar {
    padding-left: 15px;
}

.section_nav_container_sidebar p:nth-child(1) {
    font-size: 21px;
    position: relative;
    margin-bottom: 30px;
}

.section_nav_container_sidebar p:nth-child(1)::before {
    content: '';
    width: 65%;
    height: 3px;
    background-color: var(--purple-light-color);
    position: absolute;
    bottom: -10px;

}

.section_nav_sidebar_images> :not(:last-child) {

    margin-bottom: 40px;
}

.section_news {
    margin-top: 100px;
}

@media(max-width:1300px) {
    .banner_text {}
}

@media(max-width:780px) {
    .section_banner {
        flex-direction: column;
    }

    .container_banner {
        flex-basis: 400px;
        height: 500px;
        margin-bottom: 20px;

    }

    .container_card_medium>* {
        flex-basis: 400px;
        height: 500px;
    }

    .section_nav {
        flex-direction: column;
    }

    .section_nav :nth-child(2) {
        flex: 1;
        margin-top: 50px;
    }
     .section_nav_container_sidebar {
        padding-left: 0px;
    }


}
