.header_content {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;

}

.header_logo {
    color: var(--purple-light-color);
    font-size: 25px;
}

.header_content ul {
    display: flex;
    font-family: Inter;
    font-weight: 500;

    align-items: center;
}

.header_content ul li {
    margin-left: 60px;
    position: relative;



}

.header_content ul li a {
    color: var(--white-200-color);
}

.header_btn {
    font-size: 15px;
    color: var(--white-color);
    background-color: transparent;
    border-radius: 20px;
    border: 1px solid var(--purple-light-color);
    padding: 10px 20px;
    margin-left: 100px;
    cursor: pointer;

}


.active_link {
    position: relative;

}

.header_content .active_link a {
    color: var(--white-color);
}

.active_link::before {
    content: '';
    width: 100%;
    height: 2.1px;
    background-color: var(--purple-light-color);
    position: absolute;
    bottom: -2px;

}

.header_content ul li:hover::before {
    content: '';
    width: 100%;
    height: 2.1px;
    background-color: var(--purple-light-color);
    position: absolute;
    bottom: -2px;
    animation: grow 0.3s linear;
    transform-origin: left;

}

@keyframes grow {
    0% {
        transform: scaleX(0%);
    }

    100% {
        transform: scaleX(100%);
    }
}


.icon_hambuguer {
    width: 32px;
    height: 32px;
    display: none;
    cursor: pointer;
    position: absolute;
    top: 80px;
    right: 20px;
}

@media(max-width:1013px) {

    .header_content {
        align-items: center;
        flex-direction: column;
        gap: 40px;
    }


    .header_content ul li {
        margin-left: 40px;
    }

    .header_content ul {
        display: none;
    }

    .icon_hambuguer {
        display: block;
    }
}

@media(max-width:800px) {

    .header_content ul {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 40px;


    }

    .header_content ul li {
        margin-left: 0px;
    }

    .header_btn {
        margin-left: 0px;
    }

    .icon_hambuguer {
        top: 50px;
    }
}