.section_post {
    margin-bottom: 100px;
}

.section_post p,
.section_post small {
    color: var(--white-200-color);
    font-family: "Inter", sans-serif;
    margin-bottom: 10px;

}

.section_post p {
    font-size: 18px;

}

.section_post p+p {
    margin-top: 40px;
}

.section_post .title_post {
    color: var(--white-color);
    font-size: 30px;
    margin-bottom: 40px;
}

.image_post_container {
    height: 760px;
    min-height: 200px;
    max-height: 500px;
    width: 100%;
    position: relative;
    margin-bottom: 30px;
    margin-top: 15px;

}

.image_post_container .image {
    object-fit: contain;
}

@media(max-width:800px) {
    .image_post_container {
        height: 200px;
    }
}